= search_form_for([:admin, @q]) do |f|
  = f.label :user_first_name_or_user_last_name_cont
  = f.search_field :user_first_name_or_user_last_name_cont
  = f.submit

%h1
  Comments
  = link_to "Add Comment", new_admin_comment_path, class: 'btn btn-primary'

%table.table.table-hover
  %thead
    %tr
      %th Description
      %th Rating
      %th Author
      %th Book
      %th Actions
  %tbody
    - @comments.each do |comment|
      %tr
        %td= comment.description
        %td= comment.rating
        %td= comment.user.to_s if comment.user
        %td= comment.book.to_s if comment.book
        %td
          = link_to 'Show', admin_comment_path(comment), class: 'btn'
          = link_to 'Edit', edit_admin_comment_path(comment), class: 'btn'
          = link_to 'Destroy', admin_comment_path(comment), method: :delete, data: {confirm: 'Seriously?'}, class: 'btn btn-danger'


