%h1 Covers

%table
  %tr
    %th Cover
    %th Belongs to
    %th Actions
  - @covers.each do |cover|
    %tr
      %td= cover.name
      %td= cover.book.to_s if cover.book
      %td
        = link_to "Show", admin_cover_path(cover)
        = link_to 'Edit', edit_admin_cover_path(cover)
        = link_to 'Destroy', admin_cover_path(cover), method: :delete, data: {confirm: "Before you delete, think, m'kay? Are you sure?"}
