%h1 #{@book}

= image_tag @book.avatar.url(:medium)

%br
%br

%b Author
=@book.author
%br

%b Description
=@book.description
%br

%b Publisher
=@book.publisher
%br

%b Genre
=@book.genre
%br

%b Edition
=@book.edition
%br

- if current_user && !@book.user_has_comment?(current_user)
  %h2 Leave a comment
  =semantic_form_for([@book, @comment]) do |f|
    =f.input :description
    =f.input :rating
    =f.actions do
      =f.action :submit
      =f.action :cancel
- unless current_user
  %p Sign in to add comments

%h2 Comments
%table.table.table-hover
  %thead
    %tr
      %th Description
      %th Rating
      %th User
      %th Actions
  %tbody
    - @book.comments.persisted.each do |comment|
      %tr
        %td= comment.description
        %td= comment.rating
        %td= comment.user
        %td
          - if current_user && comment.can_be_updated_or_deleted?(current_user)
            = link_to "Edit", edit_book_comment_path(@book, comment), class: 'btn'
            = link_to 'Destroy', book_comment_path(@book, comment), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger'
