%h1 Book EDITOR

= image_tag @book.avatar.url(:medium)

%b Title
=@book.title
%br

%b Author
=@book.author
%br

%b Description
=@book.description
%br

%b Publisher
=@book.publisher
%br

%b Genre
=@book.genre
%br

%b Edition
=@book.edition
%br
%br

%h3 Comments about #{@book.title}
%table
  %tr
    %th Description
    %th Rating
    %th By User
    %th Action
  - @book.comments.each do |comment|
    %tr
      %td= comment.description
      %td= comment.rating
      %td= comment.user
      %td
        = link_to 'Edit', edit_editor_book_comment_path(@book, comment)
        = link_to 'Delete', editor_book_comment_path(@book, comment), method: :delete, data: {confirm: "Are you certain, Editor?"}
