=semantic_form_for([:admin, @user], html: {multipart: true}) do |f|
  = f.input :nickname
  = f.file_field :avatar
  = f.input :first_name
  = f.input :last_name
  = f.input :age
  = f.input :country, as: :string
  = f.input :password
  = f.input :password_confirmation
  = f.input :email
  = f.actions do
    =f.action :submit
    =f.action :cancel
